/* 
    Author: Eli Hughes & Aaron Nathanson
    Date Last Modified: 11/12/19
    Purpose: Stylesheet for html in the QuoteGIF project
*/
.qgif-header {
    background-color: #341881;
    font-family: "Varela Round";
    color: #ffffee;
    padding-top: 0vh;
    width: 100vw;
    height: 15vh;
    text-align: center;
    vertical-align: 10%;
    font-size: 8vh;
    background-image: url("QGIFr.png");
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;
    margin:0px;
    border:0px;
    padding:0px;
    top:0px;
    left:0px;
    

}

a:hover{
    display:none;
}

nav{
    margin:0px;
    border:0px;
    padding:0px;
    
}

body {  
    padding-top: 15vh;  
    color: #ffffee;
    background-color: #8968e3;
}
content{

    z-index:-1;   
    font-family: "Corbel";
    font-size: large;
    color: #ffffee;
    background-color: #8968e3;
    background-repeat: no-repeat;
    background-size: cover;
    top:15vh;
    bottom:15vh;

}
#filmSearchForm, #quoteSearchForm {
    position:absolute;
    text-align:center;
    width:100vw;    
    top:25vh;
    z-index:-1;   
}

#filmSelectForms, #quoteSelectForms {
    position:absolute;
    text-align:center;
    width:100vw;
    top:55vh;
    z-index:-1;
}

.errorMsg {
    position:absolute;
    text-align:center;
    width:100vw;
    top:45vh;
}

.qgif-footer{
    
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 15vh;
    background-color: #341881;
    
}

.gif_display{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#film, #quote {
    text-align: left;
}

#selectBtn {
    width:5vw;
    text-align: right;
}

tr:nth-child(even) {
    background-color: #6c4bc7;
}

/*
table{
    position: fixed;
    top: 40vh;
    left: 40%;
}
.lbl_movieName{
    float:inline-start;
    padding: .5em;
    font-family: 'Corbel';
}
.tb_movieName{
    border: none;
    padding: .5em;
    width: 25vw;
    font-family: 'Corbel';
}
.btn_movieName{
    float:inline-end;
    border: none;
    padding: .5em;
    cursor: pointer;
    width: 25vw;
    font-family: 'Corbel';
}
#filmSearchForm{
    position: fixed;
    top: 40vh;
    left: 20vw;
    right: 20vw;
}
#filmSelectForms{
    position: fixed;
    top: 55vh;
    left: 40%;
}
#quoteSearchForm{
    position: fixed;
    top: 40vh;
    left: 40%;
}
#quoteSelectForms{
    position: fixed;
    top: 55vh;
    left: 40%;
}
#film_select {
    position:absolute;
    width:100vw;
}

#film_select_form {
    position:relative;
    left:25vw;
    
}
#film_select_field {
    text-align:center;
    font-size:3ex;
    width:50vw;
}

#submit_btn {
    position:relative;
    text-align:center;
    width:10vw;
    left:20vw;
    font-size:3ex;
}*/





