/* 
    Author: Eli Hughes & Aaron Nathanson
    Date Last Modified: 11/12/19
    Purpose: Stylesheet for html in the QuoteGIF project
*/
.qgif-header {
    background-color: #341881;
    font-family: "Varela Round";
    color: #ffffee;
    padding-top: 0vh;
    font-size: 10vh;
    height: 15vh;
    text-align: center;
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat; 
}

a:hover{
    display:none;
}

nav{
    margin:0px;
    border:0px;
    padding:0px;
}

body {  
    padding-top: 15vh;  
    color: #ffffee;
    background-color: #8968e3;
}
.content {

    z-index:-1;   
    font-family: "Corbel";
    font-size: large;
    color: #ffffee;
    background-color: #8968e3;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-bottom:15vh;
}

.filmSearchForm, .quoteSearchForm {
    text-align:center;
    width:60vw;    
    margin-top:10vh;
    margin-left:20vw;
    z-index:-1;   
}

.filmSelectForms, .quoteSelectForms {
    font-family: "Corbel";
    font-size: large;
    color: #ffffee;
    text-align:center;
    width:50vw;
    margin-top:10vh;
    margin-left:25vw;
    z-index:-1;
}

.filmSelectForms img{
    height:20vh;
}

.errorMsg {
    text-align:center;
    width:100vw;
    margin-top:15vh;
}

.qgif-footer{
    
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 15vh;
    background-color: #341881;
    
}

.gif_display{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#film, #quote {
    text-align: left;
}

#selectBtn {
    width:5vw;
    text-align: right;
}

tr:nth-child(even) {
    background-color: #6c4bc7;
}

#footerBtns {
    position: absolute;
    width:100vw;
    top: 5vh;
    text-align: center;
}





