/* 
    Author: Eli Hughes & Aaron Nathanson
    Date Last Modified: 11/12/19
    Purpose: Stylesheet for html in the QuoteGIF project
*/
header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #C9C9C9;
    font-family: "Corbel Light";
    padding-top: 5vh;
    width: 100vw;
    height: 10vh;
    text-align: center;
    font-size: xx-large;
}

img {
    height: 10vw;
    width: 15vh;;
    position: fixed;
    top: 0px;
    left: 0px;

}
body {
    position: fixed;
    
    
    background-image: url("CSS Background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 15vh;
}
table{
    position: fixed;
    top: 40vh;
    left: 40%;
}
#filmSearchForm{
    position: fixed;
    top: 40vh;
    left: 40%;
}
#filmSelectForms{
    position: fixed;
    top: 55vh;
    left: 40%;
}
#quoteSearchForm{
    position: fixed;
    top: 40vh;
    left: 40%;
}
#quoteSelectForms{
    position: fixed;
    top: 55vh;
    left: 40%;
}
#film_select {
    position:absolute;
    width:100vw;
}

#film_select_form {
    position:relative;
    left:25vw;
    
}
#film_select_field {
    text-align:center;
    font-size:3ex;
    width:50vw;
}

#submit_btn {
    position:relative;
    text-align:center;
    width:10vw;
    left:20vw;
    font-size:3ex;
}