<!-- 
    Author: Eli Hughes
    Purpose: A base template for localizing repeated html and inlaid jinja
             scripting throughout the QuoteGIFr project. This template is
             meant to be extended by other .html files (currently extended
             by 'index.html', and 'quote.html').
-->>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' type='text/css' href= {{ url_for('static', filename='style.css') }}>

        <!-- if title passed in with render_template, modify the title -->
        {% if title %}
            <title>QuoteGIFr-{{ title }} </title>
        {% else %}
            <title>QuoteGIFr</title>
        {% endif %}
    </head>
    <body>
        <header id='logo'>
            QuoteGIFr
        </header>
        <!-- block which 'index.html' and 'quote.html' will extend -->
        {% block content %}{% endblock content%}
    </body>
</html>