<!--
    Author: Eli Hughes
    Date Last Modified: 10/8/2019
    Purpose: This html is unique to these routes: '/quote'.
             Extends 'layout.html'
-->

{% extends 'layout.html' %}
{% block content %}
<form method='POST'>
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Now Search for a Quote in "{{ movieName }}"</legend>
        {{ form.quote.label() }}
        {{ form.quote() }}
    </fieldset>
    {{ form.submit() }}
</form>

{% if quoteRequest %}
    {% for result in quoteForms %}
        <tr>
            <td>
                <form method='POST' action='{{ url_for('generateGIFpage') }}'>
                    <fieldset>
                        <legend>Here are the quotes we found for "{{ quoteRequest }}"</legend>
                        {{ result[0] }}
                        {{ result[1].movieName() }}
                        {{ result[1].quote() }}
                        {{ result[1].submit() }}
                    </fieldset>
                </form>
            </td>
        </tr>
    {% endfor %}
{% endif %}
{% endblock content %}