<!--
    Author: Eli Hughes
    Purpose: This html is unique to these routes: '/quote'.
             Extends 'layout.html'
             Used for searching for and selecting quotes from within a specific movie
-->

{% extends 'layout.html' %}
{% block content %}
<!-- Form used for searching for a quote -->
<form class='quoteSearchForm' method='POST'>
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Now Search for a Quote in "{{ movieName }}"</legend>
        {{ form.quote.label() }}
        {{ form.quote() }}
        {{ form.movieID() }}
        {{ form.submit() }}
    </fieldset>
</form>

<!-- If no results were found for a 'quoteRequest' submitted by the user, display
     a notification -->
{% if msg %}
    <div class='errorMsg'>
        {{ msg }}
    </div>
{% endif %}

<!-- Check to see if 'quoteForms' was passed in with render_template (aka the user has searched
     for a quote and results were found) -->
{% if quoteForms %}
    <!-- Table which contains all of the quote select forms -->
    <table class = 'table quoteSelectForms'>
        <tr>
            <td colspan="3">
                Here are the quotes we found for <i>"{{ quoteRequest }}"</i>
            </td>
        </tr>
        
        <!-- Potentially many quote select forms -->
        {% for result in quoteForms %}  
        <tr>
            <td id='quoteImg'>
                    <img src={{ url_for('static', filename=result[0])}} class="image-flex d-none d-sm-inline">
            </td>
            <td id='quote'>
                <!-- result[0] = quote displayed -->
                {{ result[1] }}
            </td> 

            <td id='selectBtn'>
                <!-- Form used for selecting a quote -->
                <form class='quoteSelectForm' method='POST' action='{{ url_for('generateGIFpage') }}'>
                    <!-- result[1].movieName() = hidden form input which stores uid of db Timestamp object from which 
                            the quote comes from  -->
                    {{ result[2].quoteID }}

                    <!-- result[1].submit() = submit button -->
                    {{ result[2].submit() }}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock content %}